<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="kex.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <kex.Properties.Settings>
            <setting name="KEX_QUALITY" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="KEX_STL_PATH" serializeAs="String">
                <value>c:\vbnet</value>
            </setting>
            <setting name="KEX_ROOT_PROPERTY_NAME" serializeAs="String">
                <value>Kunde</value>
            </setting>
            <setting name="KEX_USE_NEW_DRAWING" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="KEX_EXPLODE" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="KEX_EXPLODE_NESTED" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="KEX_EXCEPTION_LAYERS" serializeAs="String">
                <value>0,00Bem,00Bem1</value>
            </setting>
            <setting name="KEX_GROUP_LAYERS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="KEX_RESET_UCS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="KEX_GROUP_PREFIX" serializeAs="String">
                <value>EX_</value>
            </setting>
            <setting name="KEX_USE_EXCEPTION_LAYERS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KEX_CLOSE_NEW_DRAWING" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="KEX_SOLID_OUTSIDE_BLOCK" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="KEX_MOVE_XYZ" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="KEX_C4D_SUB_FOLDER" serializeAs="String">
                <value>c4d</value>
            </setting>
            <setting name="KEX_RENDERPATH_PROPERTY_NAME" serializeAs="String">
                <value>PDF_Ablagepfad</value>
            </setting>
            <setting name="KEX_RENDER_SUB_FOLDER" serializeAs="String">
                <value>Render</value>
            </setting>
            <setting name="KEX_STLOUT" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="KEX_USE_TIMEOUT" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="KEX_EXPORT_HIDDEN" serializeAs="String">
                <value>False</value>
            </setting>
        </kex.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
